/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo y fondo */
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./analisisfoto.jfif');
    /*   
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    */
}

/* Contenedor principal */
.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del formulario */
.form-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
}

/* Título del formulario */
h2 {
    font-family: monospace;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo de los grupos de entrada */
.input-group {
    margin-bottom: 15px;
}

/* Etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

/* Campos de texto */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón de registro */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.login-link p {
    text-align: center;
}
